.mainContainer {
    min-width: 1200px;
}

.colBox {
    position: relative;
    height: 320px;
    padding: 0 5px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.colBox .imgBox {
    width: 200px;
    height: 320px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}

.colBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
}

.colBox:hover img{
    filter: brightness(0.8);
}

.imgInfoBox {
    display: none;
    position: absolute;
    font-size: 50px;
    top: 120px;
    left: 80px;
    color: #DC3545;
    cursor: pointer;
}

.colBox:hover .imgInfoBox {
    display: block;
}

.add {
    width: 80px;
    height: 80px;
    background-color: #DC3545;
    border-radius: 50%;
    position: fixed;
    right: 10%;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.add:hover {
    background-color: rgb(255, 27, 49);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    color: #fff;
}